@import "../../../../../assets/stylesheets/variable.scss";

.launch-Item {
  .launch-Item-list {
    display: flex;
    column-gap: 40px;
  }
  .report {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
    font-weight: 500;
    p {
      color: $grey-color;
    }
  }
}
